@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

@import "tailwindcss";


:root {
  --ipi-red: #B43B3B;
  --ipi-red-600: #9F2F2F;
}

html, body, #__nuxt {
  height: 100%;
}

body {
  font-family: "Noto Sans", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
